h2 {
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: -0.2em;
}
p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
}
li{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
    list-style-type: none;
    width: fit-content;

    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
ul{
    padding-left: 0;
}

article {
    width: 70%;
    border-bottom: 1.5px solid #000; 
    padding-bottom: auto;
}

main{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-grow: 1;
}

img {
    max-width: 100%;
    height: auto;
    border-bottom: 0.35vw solid #000;
}

aside p {
    padding-left: 30%;
    padding-top: 8%;
}

footer{
    padding-top: 5%;
    text-align: center;
    font-size: 0.9em;
    font-family: 'Libre Franklin', sans-serif;
}
aside {
    flex-basis: auto;
    width: 33%;
}


@media only screen and (min-width: 600px) { 
    .section{
        display: block;
    }
    .part1{
        display: flex;
        gap:30%;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    /* aside {
        flex-basis: auto;
        width: 20%;
    } */

}
