html {
    scroll-behavior: smooth;
}


.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0.8vw 1.5vw;
    border-bottom: 2px solid #000;
    color: #000;
}

.title {
    font-family: 'Monoton', sans-serif;
    font-size: 2em;
}

/* .nav a {
    text-decoration: none;
    color: #000;
} */

main {
    font-family: 'Libre Franklin', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 5% 15%;
}

.p1{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: -0.3em;
}

.start-button-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures it takes up full width of its parent */
}

#start {
    display: inline-block; /* Keeps the button inline but allows for padding and margin */
    align-items: center;
    border: 1px solid #000;
    padding: 1em 4em;
    cursor: pointer; 
    text-align: center;
    transition: box-shadow 0.3s ease-in-out; 
    background-color: #fff;
}

#start:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3); 
}

#newGame {
    display: inline-block; 
    align-items: center;
    border: 1px solid #000;
    padding: 1em 4em;
    cursor: pointer; 
    text-align: center;
    transition: box-shadow 0.3s ease-in-out; 
    background-color: #fff;
}

#newGame:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3); 
}

.active-player {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}









/*------------overlay-----------*/
.hidden {
    display: none;
}

/* Add any additional styling for player scores, images, etc. */
.showing {
    display: block;
}

#overlay {
    position: absolute;
    transition: visibility 0s, opacity 0.5s ease; 
    box-sizing: border-box;
    background-color:#fff;
    padding: 20px;
    width: 95vw;
    height: 90vh;
    position: absolute;
    border:1px solid #000;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: column; /* This will arrange children (header and content) vertically */
    justify-content: space-between;
}

.pig{
    padding-top: 1em;
}

#x{
    display: inline-block;
    /* Keeps the button inline but allows for padding and margin */
    /* align-items: center; */
    
    cursor: pointer; 
    /* text-align: center; */
    transition: box-shadow 0.3s ease-in-out; 
    background-color: #fff;

    font-size: 1.5em;
    font-weight: 400;
}

/* .close {
    position: absolute;
    top: 1%;
    right: 1%; 
    font-size: 2em; 
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
} */

.overlay-content {
    background-color: #fff;
    /* text-align: center; */
    display: flex; /* This is already set, ensures children are laid out as flex items */
    justify-content: space-around; /* This will ensure there's space around your items if needed */
    flex-grow: 1; /* Allows this element to grow to fill available space */
    height: 50vh;
}

.player {
    margin: 1px;
    border: 1px solid #000;
    flex: 1; /* Makes each player flex item take up an equal amount of space */
    display: flex;
    flex-direction: column; /* Adjusts the internal layout of the player section */
    padding: 0 1em;
    /* justify-content: center; 
    align-items: center;  */
    /* Centers items horizontally */
}

img{
    padding: 1em;
}

.dice{
    padding: 3.5em 1.9em;
}
.player p{
    padding: 2.2em;
}



.overlay-h {
    display: flex;
    justify-content: space-between; /* This spreads out the children, pushing them to opposite ends */
    align-items: center; /* This vertically centers the children in the container */
    width: 100%; /* Ensures the container spans the full width of its parent */
}

h2{
    font-size: 1.5em;
    font-weight: 600;
    /* margin-top: -0.3em; */
}


.overlay-3{
    display: flex;
    justify-content: space-around;
    margin: 3em;
}

.choose {
    margin: 1px;
    border: 1px solid #000;
    flex: 0.1; /* Makes each player flex item take up an equal amount of space */
    flex-direction: column; 
    text-align: center;
    cursor: pointer;
}

.choose:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3); 
}

.roll, .pass{
    display: inline-block;
    padding: 0em 1.5em;
    background-color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    /* margin-bottom: -0.3em; */
    
}



@media (min-width: 800px) {
    .title {
        font-family: 'Monoton', sans-serif;
        font-size: 3em;
    }

    #overlay {
        height: 80vh;
    }

    #overlay-h{
        display: flex;
    }
}