*{
    box-sizing:border-box;
}
/* -------- header --------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    border-bottom: 2px solid #000;
    color: #000;
}

.title {
    font-family: 'Monoton', sans-serif;
    font-size: 4vw;
}

.nav a {
    text-decoration: none;
    color: #000;
}

main {
    display: block;
    padding: 2%;
}

/* -------- row1 --------*/

.row1 {
    display: flex;
    flex-direction: row;
    border-left: #000 2px solid; 
    border-right: #000 2px solid; 
    align-items: flex-start;
}

.row1 p{
    width: 50%;
    padding: 0 2%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
}

h3{
    padding:2%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.4em;
}

h3 a{
    color:#000;
    text-decoration: none;
}

.text1 a{
    color:#000;
}


.row1 img {
    /* height: auto; */
    width: 25%; 
    background-color: #F8AFCA;
    padding: auto;
    /* border-left: #000 2px solid; */
}

.row1 h2 {
    flex: 0 0 25%; 
    margin: 0; 
    width: 25%;
    padding: auto;
}


/* -------- row2 --------*/
.row2 {
    display: flex;
    flex-direction: row;
    border: #000 2px solid;
    align-items: flex-start;
}



.row2 img {
    /* height: auto; */
    width: 25%; 
    padding: auto;
    background-color: #68BDBA;
    /* border-right: #000 2px solid; */
}

.row2 h2 {
    flex: 0 0 25%; 
    margin: 0; 
    width: 25%;
    padding: auto;
}

.row2 p{
    width: 50%;
    padding: 0 2%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
}


/* -------- footer --------*/
footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #000;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
}

footer a{
    /* text-decoration: none; */
    color: #000;
}

/* -------- button 1 blue --------*/
.button1{
    /* background-color: #F5772D;  */
    background-color: #68BDBA;
    border: #000 2px;
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-top: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button1:hover {
    background-color: #b7eae8;
}

/* -------- button 2 pink --------*/
.button2{
    /* background-color: #F5772D;  */
    background-color: #F8AFCA;
    border: #000 2px;
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-top: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button2:hover {
    background-color: #ffd4e4;
}

.read {
    text-decoration: none;
    color:#000;
}


/* -------- mobile --------*/
@media (max-width: 800px) { 
    .row1, .row2 {
        flex-direction: column;
    }

    /* .text1, .row1 img, .row2 img {
        width: 100%;
    }

    .text1 {
        order: 1; 
    } */

    .row1 img, .row2 img {
        order: 2; 
        width: 50%; 
        height: auto; 
    }
    main{
        align-items: center;
    }
}