/*----------header---------*/
h1 {
    font-family: 'Monoton', sans-serif;
    font-size: 4vw;
    padding: 1vw; 
    display: inline-block; 

    animation-name: colorChange;
    animation-duration: 7s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}

@keyframes colorChange {
    0%, 10%, 90%, 100% {
        background-color: white;
        color: black;
    }
    40%, 60% {
        background-color: black;
        color: white;
    }
}

.banner-container {
    position: relative; 
    text-align: center; 
}

.banner-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.banner-container h1 {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 10px; 
    margin: 0; 
}

img {
    max-width: 100%;
    height: auto;
    border-bottom: 0.3vw solid #000;
    transition: box-shadow 0.3s ease;
}

header div img:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

/*---------body---------*/
body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0px;
}
/* text box */
input[type="text"] {
    margin: 5px;
    border: 1px solid #091b2b;
    outline: 0;
    padding: 5px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
}

input[type="text"]:focus {
    border-color: #959595;
    box-shadow: 0 0 5px rgba(48, 48, 48, 0.3);
}
/* submit button  */
input[type="submit"] {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    border: none;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #767676;
    transition: ease-out 0.2s;
}
/* close button  */
.close {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    border: none;
    color: white;
    cursor: pointer;
}

.close:hover {
    background-color: #767676;
    transition: ease-out 0.2s;
}

input, label {
    display: block;
    margin: 0 5px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 3% 10%;
}

.madlibs-description{
    width: 50%; 
}

.madlibs-form {
    width: 50%; 
    padding-left: 5%;
}


.cc1 .cc2{
    display: flex;
}

#madLibsForm {
    display: flex;
    justify-content: space-between 10; 
    flex-wrap: wrap; 
}

.cc1, .cc2 {
    flex-basis: 35%; 
}

h2{
    margin-top: 0%;
}


/*---- Overlay styles ----*/
.hidden {
    display: none;
}

.showing {
    display: block;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0s, opacity 0.5s ease; 
}


#overlay article {
    box-sizing: border-box;
    background-color:#fff;
    padding: 20px;
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Responsive design */
@media (max-width: 800px) {
    .content-container {
        flex-direction: column;
    }
    .madlibs-description, .madlibs-form {
        width: 100%;
    }
    .cc1, .cc2 {
        flex-basis: 100%;
    }
    main{
        padding: 0 2%;
        align-self: center;
    }
}


